/*.log
/target
/*-init.clj
/resources/public/js/compiled
/resources/public/css
out
/.lein-failures
/.nrepl-port
/beer-game.iml
/.idea
/.lein-repl-history
/project.clj
scripts/deploy.sh
scripts/deploy-doc.sh
/.nrepl-history
