.game-data--user-role-title {
    display: inline-block;
    span {
        color: #000;
        float: left;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 1.3rem;
        padding-top: 0.5rem;
        padding-left: 0.8rem;
    }

    img {
        height: 2rem;
        float: left;
    }

    clear: both;
}

.game-data--supply-chain-arrow {
    display: block;
    text-align: center;
}
