.game-view-grid {
    .col {
        border: 1px solid #333
    }
}

.game-area {
    display: block;
    margin: 1rem 1rem;
    text-align: center;

    .title {
        font-weight: 900;
        padding: 0.4rem;
    }

    .content-wrapper {
        padding: 0.7rem;
    }

    .content {
        background-repeat: no-repeat;
        background-position: center;
        height: 5rem;
    }

    .message-data {
        display: block;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 0.3rem;
        text-align: center;
        font-size: 1.2rem;
    }

    .message-data.single-value {
        font-size: 2rem;
        font-weight: bold;
        padding-top: 7%;
    }


    .message-data .main-value {
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.5rem;
    }
}
