.game-area-divider {
    padding: 0px !important;
    text-align: center;
    font-size: 2.5rem;

    i.icon {
        margin: 0 !important;
    }
}

.game-wrapper {
    display: block;
    margin: 1rem 1rem;
    text-align: center;

    .info-group {
        .column, .game-area {
            height: 100%;
        }
        .content, .content-wrapper {
            height: calc(100% - 1em - 20px);
        }
        .game-area-divider>.icon {
            position: absolute;
            top: 50%;
            left: 50%;
            .transform(translateX(-50%) translateY(-50%));
        }
    }

    .game-view-grid {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .user-role-segment {
        font-size: 1.5vw !important;
    }

    .game-area {
        text-align: center;
    }

    .title {
        padding: 0.4rem;
        text-align: center;
        font-size: inherit;
        font-weight: 900;
        h3 {
            @media (max-width: 1000px) { font-size: 1.0em; }
            @media (max-width: 860px) { font-size: 0.8em; }
            @media (max-width: 768px) { font-size: 0.5em; }
        }
    }

    .content-wrapper {
        padding: 0.7rem;
    }

    .content {
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(255, 255, 255, 0.7);
        background-blend-mode: color;
        min-height: 5rem;
    }

    .message-data {
        display: block;
        height: 100%;
        padding: 0.3rem;
        text-align: center;
        font-size: 1.2rem;
        @media (max-width: 768px) {
            font-size: 0.9rem;
            .button {
                font-size: 0.8rem;
            }
        }
    }

    .message-data.single-value {
        font-size: 2rem;
        font-weight: bold;
        padding-top: 10%;
    }


    .message-data .main-value {
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.5rem;
    }

    .unit-text {
        font-sizze: 1.5rem;
    }

    .order-input {
        background: rgba(255, 255, 255, 0.8);
    }
}


.cost-multiplier-arrow {
    text-align: center;

    .arrow-icon, .multiplier-string {
        display: block;
        margin: 2px auto;
    }

    .multiplier-string {
        font-weight: bold;
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        .icon {
            line-height: 0.75em;
            margin-right: 2px;
        }
    }
}

.game-area-curved-arrow {
    height: 100%;
    img {
        opacity: .80;
        height: 100%;
        width: 100%;
    }
    @x-scale-factor: 0.6;
    @y-scale-factor: 0.7;
    &.up-left {
        .transform(scaleX(@x-scale-factor) scaleY(-@y-scale-factor));
    }
    &.down-left {
        .transform(scaleX(@x-scale-factor) scaleY(-@y-scale-factor) rotate(90deg));
    }
    &.down-right {
        .transform(scaleX(-@x-scale-factor) scaleY(@y-scale-factor));
    }
    &.up-right {
        .transform(scaleX(-@x-scale-factor) scaleY(@y-scale-factor) rotate(90deg));
    }
}
