.login-card-wrapper {
    position: relative;
    top: 20%;
    .translate(0, -20%); /* prefixer */
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.login-card {
    &>.header {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 1.3rem;
    }

    .message {
    }

    &>.content {
        border-top: 0 !important;
        .form {
            .field {
                padding-top: 1rem;
            }
        }
    }

}
